.pund-addon-play-btn {
	opacity: 1.0;
	height: 36px;
	width: 36px;
	cursor: pointer;
    border-radius: 5px 0 0 5px;
    border: 3px solid black;
    visibility: hidden;
    color: black;
    text-shadow: 1px 1px 3px white, -1px 1px 3px white, 1px -1px 3px white, -1px -1px 3px white;
    font-size: 30px;
    line-height: 36px;
    text-align: center;
    font-family: sans-serif;
    user-select: none;
}

.pund-addon-btn-hoverable:hover {
	opacity: 1 !important;
}

.pund-addon-play-btn:active {
    opacity: 1 !important;
}

.pund-addon-play-btn:focus {
	opacity: initial !important;
}

.pund-addon-play-side-left {
	float: right;
	border-radius: 0 5px 5px 0;
}

.pund-addon-play-side-bottom {
	border-radius: 5px 5px 0 0;
}

#pund-addon-container {
	display: block;
	position: fixed;
	top: 40%;
	right: 0;
	width: 100px;
	height: 100px;
	z-index: 10000;
	box-sizing: border-box;
}

@media print {
	#pund-addon-container {
		display: none !important;
	}
}
